In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import os
import re
import nltk
from nltk.corpus import stopwords
from gensim.models import Word2Vec
from nltk.tokenize import sent_tokenize, LineTokenizer, RegexpTokenizer
from nltk.tokenize import word_tokenize
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

factory = StemmerFactory()
stemmer = factory.create_stemmer()
import string
from nltk.stem import PorterStemmer, WordNetLemmatizer
stopwords_indonesia = stopwords.words('indonesian')
stop_words = set(stopwords.words('indonesian'))
import dataset

In [3]:
from nltk.tokenize import word_tokenize
result_teknologi = []

# loop untuk setiap sheet pada dataframe
for df in dataset.Teknologi_all_sheets:
    df.rename(columns= {'Jawaban ' : 'Jawaban', 'Manual 1 ' : 'Manual 1', 'Manual 2 ' : 'Manual 2', 'Manual 3 ' : 'Manual 3', 
                        ' Manual 3' : 'Manual 3', 'Manual  3' : 'Manual 3'}, inplace = True)
    df = df[['Jawaban', 'Manual 1', 'Manual 2', 'Manual 3', 'Rata Manual']]
    # periksa maksimum, minimum, dan rata-rata panjang jawaban dan panjang soal pada setiap kategori
    for column in ['Jawaban']:
        # hitung panjang jawaban/soal dalam jumlah kata
        lengths = df[column].apply(lambda x: len(word_tokenize(x)))
        max_len = lengths.max()
        min_len = lengths.min()
        avg_len = lengths.mean()
        result_teknologi.append({
            'Max Length': max_len,
            'Min Length': min_len,
            'Average Length': avg_len
        })

result_teknologi = pd.DataFrame(result_teknologi)

In [4]:
result_teknologi

   Max Length  Min Length  Average Length
0          70           3       27.019231
1          85           3       21.076923
2         144           2       26.365385
3         226           3       37.480769
4         166           2       21.039216
5          87           1       20.173077
6         235           1       18.519231
7         159           2       28.960000
8         513           1       35.384615
9          62           3       21.560000

In [5]:
max_length_answer_teknologi = result_teknologi['Max Length'].max()
min_length_answer_teknologi = result_teknologi['Min Length'].min()
average_length_answer_teknologi = result_teknologi['Average Length'].mean()

In [6]:
result_soal_teknologi = []

lengths = dataset.Teknologi_Soal['Soal '].apply(lambda x: len(word_tokenize(x)))
max_len = lengths.max()
min_len = lengths.min()
avg_len = lengths.mean()
result_soal_teknologi.append({
    'Max Length': max_len,
    'Min Length': min_len,
    'Average Length': avg_len
})
        
result_soal_teknologi = pd.DataFrame(result_soal_teknologi)

In [7]:
result_soal_teknologi

   Max Length  Min Length  Average Length
0          17           6            11.3

In [8]:
from nltk.tokenize import word_tokenize
result_teknologi_case = []

j = 0
# loop untuk setiap sheet pada dataframe
for df in dataset.Teknologi_all_sheets:
    j = j + 1
    capital_words = {}
    lower_words = {}
    other_words = {}
    df.rename(columns= {'Jawaban ' : 'Jawaban', 'Manual 1 ' : 'Manual 1', 'Manual 2 ' : 'Manual 2', 'Manual 3 ' : 'Manual 3', 
                        ' Manual 3' : 'Manual 3', 'Manual  3' : 'Manual 3'}, inplace = True)
    df = df[['Jawaban', 'Manual 1', 'Manual 2', 'Manual 3', 'Rata Manual']]
    # periksa maksimum, minimum, dan rata-rata panjang jawaban dan panjang soal pada setiap kategori
    for token in df["Jawaban"]:
        if isinstance(token, str):
            if token.isupper():
                capital_words[token] = capital_words.get(token, 0) + 1
            elif token.islower():
                lower_words[token] = lower_words.get(token, 0) + 1
            else:
                other_words[token] = other_words.get(token, 0) + 1

    # Menampilkan hasil
    print(f'Soal {j}')
    print("Jumlah kata berhuruf kapital: ", len(capital_words))
    print("Jumlah kata berhuruf kecil: ", len(lower_words))
    print("Jumlah kata lainnya: ", len(other_words))
    print('\n')

Soal 1
Jumlah kata berhuruf kapital:  0
Jumlah kata berhuruf kecil:  27
Jumlah kata lainnya:  17


Soal 2
Jumlah kata berhuruf kapital:  0
Jumlah kata berhuruf kecil:  27
Jumlah kata lainnya:  24


Soal 3
Jumlah kata berhuruf kapital:  0
Jumlah kata berhuruf kecil:  23
Jumlah kata lainnya:  29


Soal 4
Jumlah kata berhuruf kapital:  0
Jumlah kata berhuruf kecil:  21
Jumlah kata lainnya:  27


Soal 5
Jumlah kata berhuruf kapital:  0
Jumlah kata berhuruf kecil:  29
Jumlah kata lainnya:  22


Soal 6
Jumlah kata berhuruf kapital:  0
Jumlah kata berhuruf kecil:  23
Jumlah kata lainnya:  21


Soal 7
Jumlah kata berhuruf kapital:  0
Jumlah kata berhuruf kecil:  8
Jumlah kata lainnya:  43


Soal 8
Jumlah kata berhuruf kapital:  0
Jumlah kata berhuruf kecil:  14
Jumlah kata lainnya:  35


Soal 9
Jumlah kata berhuruf kapital:  0
Jumlah kata berhuruf kecil:  13
Jumlah kata lainnya:  38


Soal 10
Jumlah kata berhuruf kapital:  0
Jumlah kata berhuruf kecil:  17
Jumlah kata lainnya:  23

In [9]:
from nltk.tokenize import word_tokenize
result_teknologi_unrater = []

soal_teknologi = 0
# loop untuk setiap sheet pada dataframe
for df in dataset.Teknologi_all_sheets:
    soal_teknologi = soal_teknologi + 1
    df.rename(columns= {'Jawaban ' : 'Jawaban', 'Manual 1 ' : 'Manual 1', 'Manual 2 ' : 'Manual 2', 'Manual 3 ' : 'Manual 3', 
                        ' Manual 3' : 'Manual 3', 'Manual  3' : 'Manual 3'}, inplace = True)
    df = df[['Jawaban', 'Manual 1', 'Manual 2', 'Manual 3', 'Rata Manual']]
    unrated_answers = df[df[['Manual 1', 'Manual 2', 'Manual 3']].isnull().all(axis=1)]
    result_teknologi_unrater.append({
        'Soal': soal_teknologi,
        'Column': 'Jawaban',
        'Unrated Answers': len(unrated_answers)
    })

# tampilkan hasil analisis
for r in result_teknologi_unrater:
    print(f"{r['Soal']} - Unrated Answers: {r['Unrated Answers']}")

1 - Unrated Answers: 0
2 - Unrated Answers: 0
3 - Unrated Answers: 0
4 - Unrated Answers: 0
5 - Unrated Answers: 0
6 - Unrated Answers: 0
7 - Unrated Answers: 0
8 - Unrated Answers: 0
9 - Unrated Answers: 0
10 - Unrated Answers: 0

In [10]:
k = 0
for df in dataset.Teknologi_all_sheets:
    k = k + 1
    df.rename(columns= {'Siswa ': 'Siswa', 'Jawaban ' : 'Jawaban', 'Manual 1 ' : 'Manual 1', 'Manual 2 ' : 'Manual 2', 'Manual 3 ' : 'Manual 3', 
                        ' Manual 3' : 'Manual 3', 'Manual  3' : 'Manual 3'}, inplace = True)
    df = df[['Siswa', 'Jawaban', 'Manual 1', 'Manual 2', 'Manual 3', 'Rata Manual']]
    # Mengecek duplikasi pada kolom jawaban
        
    duplicate_jawaban_rate_teknologi = df[df.duplicated(['Jawaban', 'Manual 1', 'Manual 2', 'Manual 3', 'Rata Manual'], keep=False)]
    if not duplicate_jawaban_rate_teknologi.empty:
        print(f"Duplikasi pada kolom soal {k}:")
        print(duplicate_jawaban_rate_teknologi[['Siswa', 'Jawaban', 'Manual 1', 'Manual 2', 'Manual 3', 'Rata Manual']])
        print('\n')

Duplikasi pada kolom soal 1:
         Siswa                                            Jawaban  Manual 1  \
No
8     siswa_9   Komputer adalah alat yang dipakai untuk mengol...      28.0
9    siswa_10   Komputer adalah alat yang dipakai untuk mengol...      28.0
10   siswa_11   Komputer adalah serangkaian ataupun sekelompok...      60.0
19   siswa_25   Komputer adalah serangkaian ataupun sekelompok...      60.0
36   siswa_47   Komputer adalah alat yang dipakai untuk mengol...      28.0

     Manual 2  Manual 3  Rata Manual
No
8        35.0      25.0    29.333333
9        35.0      25.0    29.333333
10       70.0      50.0    60.000000
19       70.0      50.0    60.000000
36       35.0      25.0    29.333333


Duplikasi pada kolom soal 4:
         Siswa                                            Jawaban  Manual 1  \
No
19   siswa_25   - Data adalah sebuah fakta atau serangkaian fa...      60.0
39   siswa_51   - Data adalah sebuah fakta atau serangkaian fa...      60.0

     Manual 2  Manual 3  Rata Manual
No
19       75.0      75.0         70.0
39       75.0      75.0         70.0


Duplikasi pada kolom soal 6:
         Siswa                                            Jawaban  Manual 1  \
No
1     siswa_1   Volatile memory adalah memory yang datanya dap...      80.0
2     siswa_2   merupakan memory yang datanya dapat ditulis se...      80.0
8     siswa_9   Volatile memory adalah memory yang datanya dap...      80.0
10   siswa_11   merupakan memory yang datanya dapat ditulis se...      80.0
14   siswa_18   Volatile memory merupakan memory yang datanya ...      80.0
19   siswa_25   Volatile memory merupakan memory yang datanya ...      80.0
37   siswa_49   merupakan memory yang datanya dapat ditulis se...      80.0
49   siswa_61   merupakan memory yang datanya dapat ditulis se...      80.0
50   siswa_62   merupakan memory yang datanya dapat ditulis se...      80.0

     Manual 2  Manual 3  Rata Manual
No
1        90.0      90.0    86.666667
2        90.0      90.0    86.666667
8        90.0      90.0    86.666667
10       90.0      90.0    86.666667
14       90.0      90.0    86.666667
19       90.0      90.0    86.666667
37       90.0      90.0    86.666667
49       90.0      90.0    86.666667
50       90.0      90.0    86.666667


Duplikasi pada kolom soal 7:
         Siswa                                            Jawaban  Manual 1  \
No
8     siswa_9   LCD = liquid crystal display CPU = central pro...     100.0
44   siswa_56   LCD = liquid crystal display CPU = central pro...     100.0

     Manual 2  Manual 3  Rata Manual
No
8       100.0     100.0        100.0
44      100.0     100.0        100.0


Duplikasi pada kolom soal 8:
         Siswa                                            Jawaban  Manual 1  \
No
8    siswa_10   -Cupcake -Donut -Eclair -Froyo -Gingerbread -H...      93.0
22   siswa_34   -Cupcake -Donut -Eclair -Froyo -Gingerbread -H...      93.0

     Manual 2  Manual 3  Rata Manual
No
8        80.0      90.0    87.666667
22       80.0      90.0    87.666667


Duplikasi pada kolom soal 10:
         Siswa                                            Jawaban  Manual 1  \
No
2     siswa_2   Bluetooth adalah spesifikasi industri untuk ja...      30.0
4     siswa_4   Bluetooth adalah spesifikasi industri untuk ja...      30.0
6     siswa_7   Bluetooth adalah spesifikasi industri untuk ja...      30.0
14   siswa_18   Bluetooth adalah spesifikasi industri untuk ja...      30.0

     Manual 2  Manual 3  Rata Manual
No
2        85.0      75.0    63.333333
4        85.0      75.0    63.333333
6        75.0      50.0    51.666667
14       75.0      50.0    51.666667

In [11]:
total_punctuation = 0
total_stopword = 0
total_berimbuhan = 0
total_non_lemma = 0
soal_teknologi = 0

for df in dataset.Teknologi_all_sheets:
    soal_teknologi = soal_teknologi + 1
    freq_punctuation = 0
    freq_stopword = 0
    freq_berimbuhan = 0
    freq_non_lemma = 0
    
    # proses setiap jawaban siswa pada sheet
    for jawaban in df['Jawaban']:
        # hitung frekuensi punctuation
        freq_punctuation += sum([1 for char in jawaban if char in string.punctuation])
        
        # hitung frekuensi stopword
        tokenized = word_tokenize(jawaban)
        freq_stopword += sum([1 for word in tokenized if word in stop_words])
        
        # hitung frekuensi kata berimbuhan
        freq_berimbuhan += sum([1 for word in tokenized if '-' in word or 'nya' in word or 'ku' in word or 'mu' in word or 'lah' in word or 'kah' in word])
        
        # hitung frekuensi kata non-lemma
        stemmed = [stemmer.stem(word) for word in tokenized]
        freq_non_lemma += sum([1 for i in range(len(tokenized)) if tokenized[i] != stemmed[i]])
    
    # tambahkan frekuensi pada variabel total
    total_punctuation += freq_punctuation
    total_stopword += freq_stopword
    total_berimbuhan += freq_berimbuhan
    total_non_lemma += freq_non_lemma
    
    # tampilkan frekuensi untuk sheet saat ini
    print(f"Soal: {soal_teknologi}:")
    print(f"Frekuensi Punctuation: {freq_punctuation}")
    print(f"Frekuensi Stopword: {freq_stopword}")
    print(f"Frekuensi Kata Berimbuhan: {freq_berimbuhan}")
    print(f"Frekuensi Kata Non-Lemma: {freq_non_lemma}")
    print()
    
# tampilkan total frekuensi untuk seluruh file excel
print("Total:")
print(f"Frekuensi Punctuation: {total_punctuation}")
print(f"Frekuensi Stopword: {total_stopword}")
print(f"Frekuensi Kata Berimbuhan: {total_berimbuhan}")
print(f"Frekuensi Kata Non-Lemma: {total_non_lemma}")

Soal: 1:
Frekuensi Punctuation: 116
Frekuensi Stopword: 645
Frekuensi Kata Berimbuhan: 192
Frekuensi Kata Non-Lemma: 531

Soal: 2:
Frekuensi Punctuation: 191
Frekuensi Stopword: 316
Frekuensi Kata Berimbuhan: 182
Frekuensi Kata Non-Lemma: 473

Soal: 3:
Frekuensi Punctuation: 364
Frekuensi Stopword: 306
Frekuensi Kata Berimbuhan: 164
Frekuensi Kata Non-Lemma: 603

Soal: 4:
Frekuensi Punctuation: 248
Frekuensi Stopword: 780
Frekuensi Kata Berimbuhan: 335
Frekuensi Kata Non-Lemma: 781

Soal: 5:
Frekuensi Punctuation: 189
Frekuensi Stopword: 365
Frekuensi Kata Berimbuhan: 127
Frekuensi Kata Non-Lemma: 441

Soal: 6:
Frekuensi Punctuation: 128
Frekuensi Stopword: 375
Frekuensi Kata Berimbuhan: 73
Frekuensi Kata Non-Lemma: 399

Soal: 7:
Frekuensi Punctuation: 196
Frekuensi Stopword: 142
Frekuensi Kata Berimbuhan: 93
Frekuensi Kata Non-Lemma: 645

Soal: 8:
Frekuensi Punctuation: 795
Frekuensi Stopword: 8
Frekuensi Kata Berimbuhan: 91
Frekuensi Kata Non-Lemma: 1091

Soal: 9:
Frekuensi Punctuation: 304
Frekuensi Stopword: 591
Frekuensi Kata Berimbuhan: 160
Frekuensi Kata Non-Lemma: 824

Soal: 10:
Frekuensi Punctuation: 155
Frekuensi Stopword: 373
Frekuensi Kata Berimbuhan: 116
Frekuensi Kata Non-Lemma: 418

Total:
Frekuensi Punctuation: 2686
Frekuensi Stopword: 3901
Frekuensi Kata Berimbuhan: 1533
Frekuensi Kata Non-Lemma: 6206